{% import '@notification_bundle/NotificationMacro.html.twig' as macro %}

<a class="notification-icon" href="#">
    <div class="notification-set-read">
        <i class="material-icons">notifications</i>
        {% if app.user and getNotifications(app.user, false)|length is not same as(0)%}
            <span class="notificationCounter">{{ getNotifications(app.user, false)|length }}</span>
        {% endif %}
    </div>
</a>
<div class="notification-container">
    {% for notification in getNotifications(app.user, false) %}
        {{ macro.notification(notification)}}
    {% endfor %}
    <hr>
    {% for notification in getNotifications(app.user, true) %}
        {{ macro.notification(notification)}}
    {% endfor %}
</div>

<script>
    var done = false;
    $( document ).ready(function() {
        if (!done) {
            $('.notification-set-read').on('click', function () {
                let url = Routing.generate('notification_ajax_read_all');
                $.ajax({
                    url: url,
                    method: "POST",
                    success: function (response) {
                        $(".notificationCounter").remove();
                        $(".notification-content").html(response["html"]);
                    }
                });
            });
            done = true;
        }
    });
</script>